<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyprmx.android.sdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Switch on and off to test location autodetect vs. ask. -->
	<!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    
    <application 
        android:largeHeap="true"
        android:hardwareAccelerated="true">
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXOfferViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|uiMode|fontScale|screenLayout|locale"
            android:label="HyprMX SDK"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXRequiredInformationActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXSplashActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXOfferListActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXNoOffersActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXWebTrafficActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|uiMode|fontScale|screenLayout|locale"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.hyprmx.android.sdk.service.ApplicationInstallService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" >
        </service>
    </application>

</manifest>